<div class="container">

    <div ng-show="!!!apiStatus" class="alert alert-error">
        Failed to connect to the API
    </div>

    <!-- API -->
    <div class="well">
        <h4>API</h4>

        <form class="form-horizontal" name="updateApiUrlForm">
            <div class="control-group">
                <label class="control-label" for="input-api-endpoint">URL</label>
                <div class="controls">
                    <input ng-model="apiUrl" type="text" id="input-api-endpoint" required>
                    <button ng-click="checkApi()" ng-disabled="updateApiUrlForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

<!--
    <div ng-show="!!apiStatus">
        <form class="form-horizontal" name="updateSettingsForm">

        </form>
    </div>
 -->

</div>
